@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to top, #0f051d 10%, #130749 90%);
    /* Color values for blue-900 and purple-900 */
    font-family: "Space Grotesk", sans-serif;
}



.loader {
    margin: 10rem auto;
    width: 64px;
    height: 64px;
    position: relative;
    background-image: linear-gradient(#fff 16px, transparent 0), linear-gradient(#ff00ea 16px, transparent 0), linear-gradient(#ff00ea 16px, transparent 0), linear-gradient(#fff 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top, left bottom, right top, right bottom;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        width: 64px;
        height: 64px;
        transform: rotate(0deg);
    }

    50% {
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
    }

    100% {
        width: 64px;
        height: 64px;
        transform: rotate(360deg);
    }
}